.about {
    overflow: hidden;
    background-color: var(--color-text-1);
    &::before {
        content: '';
        display: block;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, var(--color-text-1) 0%, var(--color-spec-3) 100%);
        height: 150px;
        width: 100%;
    }
    &::after {
        content: '';
        display: block;
        background: rgb(255,255,255);
        background: rgb(255,255,255);
        background: linear-gradient(0deg, var(--color-spec-3) 0%, var(--color-text-1) 100%);
        height: 150px;
        width: 100%;
    }
}

.about_cont {
    @include flex (row, space-between, flex-start, nowrap);
}

.about_block {
    width: 48%;
    p {
        margin-top: 25px;
        letter-spacing: 2px;
        line-height: 20px;
    }
    img {
        min-width: 300px;
        min-height: 380px;
        width: 100%;
        height: auto;
        margin-bottom: 45px;
    }
    ul {
        padding-top: 12px;
        margin-left: 35px;
        li {
        list-style-type: circle;
        letter-spacing: 2px;
        line-height: 20px;
        }
    }
}

.about_img_hidden {
    display: none;
}

.about_text {
    opacity: 0;
    transform: translate(-50%, 0px);
    transition: all 1s ease;
    &._active {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

.about_img {
    opacity: 0;
    transform: translate(50%, 0px);
    transition: all 1s ease;
    &._active {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}

@media (max-width: $notebook) {
    .about_img_hidden {
        display: block;
    }
}

@media (max-width: $tablet) {
    .about {
        h2 {
            text-align: center;
        }
    }

    .about_cont {
    @include flex (column, space-between, flex-start, nowrap);
    }

    .about_block {
        width: 100%;
        p {
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
    .about_img_hidden {
        display: none;
    }
}