.contact {
    background-color: inherit;
    position: absolute;
    bottom: -50px;
    width: 100%;
    z-index: 1000;
}

.contact_cont {
    @include flex (row, center, center, nowrap);
}

.contact_block {
    @include flex (row, space-between, center, nowrap);
    padding: 5px 15px;
    cursor: pointer; 
    a {
        color: var(--color-spec-2);
        cursor: pointer;
        display: block;
        z-index: 0;
        padding-left: 15px;
        font-size: 20px;
    }
    svg {
        fill: var(--color-spec-2);
    }
    span {
        font-size: 20px;
        color: var(--color-spec-2);

    }
}

.contact_block:hover a {
    color: var(--color-text-2);
}
.contact_block:hover svg {
    fill: var(--color-text-2);
}

.change-lang {
    background-color: inherit;
    border: none;
    color: var(--color-text-2);
    appearance: none;
    font-size: 20px;
    margin-left: 5px;


}

@media (max-width: $tablet) {
    .contact_cont {
        @include flex (column, center, center, nowrap);
    }
}