.counter {
    background-color: var(--color-text-1);
    h2 {
        text-align: center;
        font-size: 44px;
        padding-left: 25px;
        margin-bottom: 65px;
    }
    &::before {
        content: '';
        display: block;
        background: linear-gradient(0deg, var(--color-text-1) 0%, var(--color-spec-3) 100%);
        height: 150px;
        width: 100%;
    }
    &::after {
        content: '';
        display: block;
        background: linear-gradient(0deg, var(--color-spec-3) 0%, var(--color-text-1) 100%);
        height: 150px;
        width: 100%;
    }
}

.counter_cont {
    @include flex (row, space-between, flex-start, nowrap);
}

.counter_item {
    @include flex (column, center, center, nowrap);
    max-width: 150px;
    font-size: 30px;
    text-align: center;
    opacity: 0;
    transform: translate(0px, 50%);
    transition: all 1s ease;
    &._active {
        opacity: 1;
        transform: translate(0px, 0px);
    }
    span {
        display: inline-block;
        padding: 15px 0px;
        font-size: 70px;
    }
}

@media (max-width: $tablet) {
    .counter_cont {
        @include flex (column, center, center, nowrap);
    }

    .counter_item  {
        margin-bottom: 75px;
    }
}