.counter {
    h2 {
        text-align: center;
        font-size: 44px;
        padding-left: 25px;
        margin-bottom: 65px;
    }
    &::before {
        content: '';
        display: block;
        background: rgb(255,255,255);
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(206,250,124,1) 100%);
        height: 150px;
        width: 100%;
    }
    &::after {
        content: '';
        display: block;
        background: rgb(255,255,255);
        background: rgb(255,255,255);
        background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(206,250,124,1) 100%);
        height: 150px;
        width: 100%;
    }
}

.counter_cont {
    @include flex (row, space-between, center, nowrap);
}

.counter_item {
    @include flex (column, center, center, nowrap);
    max-width: 150px;
    font-size: 30px;
    text-align: center;
    span {
        display: inline-block;
        padding: 15px 0px;
        font-size: 70px;
    }
}

@media (max-width: $tablet) {
    .counter_cont {
        @include flex (column, center, center, nowrap);
    }

    .counter_item  {
        margin-bottom: 75px;
    }
}