.feedback {
    background-color: var(--color-spec-3);
    padding: 75px 0px;
    h2 {
        color: var(--color-text-1);
    }
}

.feedback_block {
    text-align: center;
    input {
        font-size: 22px;
        width: 80%;
        padding: 15px 20px;
        border-radius: 15px;
        border: 1px solid var(--color-spec-3);
        outline: none;
        margin-bottom: 15px;
    }
    input:focus {
        outline: none;
        border-color: var(--color-spec-2);
    }
    textarea {
        font-size: 22px;
        display: block;
        width: 80%;
        padding: 15px 20px;
        border-radius: 15px;
        outline: none;  
        resize: none;
        margin: 0 auto;      
    }
}

.feedback_other {
    text-align: center;
    font-size: 22px;
    margin-top: 25px;
    letter-spacing: 1.5px;
    a {
        color: var(--color-spec-2);
    }
}

@media (max-width: $notebook) {
    .feedback_block {
        text-align: center;
        input {
            font-size: 22px;
            width: 100%;
    
        }
        input:focus {
            outline: none;
            border-color: var(--color-spec-2);
        }
        textarea {
            font-size: 22px;
            width: 100%;
          
        }
    }
    .feedback_other {
        font-size: 18px;
        line-height: 26px;
    }
}