@font-face {
    font-family: 'Dancing Script';
    src: url(../fonts/DancingScript-VariableFont.woff) format('woff');
    font-weight: 400;
    font-size: normal;
    font-display: swap
}

@font-face {
    font-family: 'Exo 2';
    src: url(../fonts/Exo2-VariableFont_wght.woff) format('woff');
    font-weight: 400;
    font-size: normal;
    font-display: swap
}
