:root {
  --color-text-1:#fff;
  --color-text-2:#78A328;
  --color-text-3:#222222;
  --color-spec-1:#c5f682;
  --color-spec-2:#0c7011;
  --color-spec-3:#cefa7c;
  --color-spec-4:rgba(224, 247, 195, 0.8);
  --color-spec-5:#A3BB75;
  --color-spec-6:#efefef;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
  }
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}

h2 {
    text-align: center;
    font-size: 44px;
    padding-left: 25px;
    margin-bottom: 65px;
}

@mixin flex ($fd, $jc, $ai, $fw) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
}
