.master {
    background-color: var(--color-spec-3);
    padding: 50px 0px 25px;
    padding-bottom: 150px;
    position: relative;
    z-index: 0;
    h2 {
        text-align: center;
        font-size: 44px;
        margin-bottom: 25px;
        color: var(--color-text-1);
    }
}

.master_cont {
    @include flex (row, center, flex-start, nowrap);
    height: 550px;
    opacity: 0;
    transform: translate(0px, 50%);
    transition: all 1s ease;
    &._active {
        opacity: 1;
        transform: translate(0px, 0px);
    }
}
.master-wrapper {
    height: 800px;
}

.master-swiper-slide {
    max-width: 400px;
    height: 500px;
    background-color: var(--color-text-1);
    transition: height .5s ease-in-out;
    color: #000000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    z-index: 1000;
}

.master-swiper-slide img {
    position: relative;
    width: 95%;
    height: 95%;
    top: 10px;
    left: 10px;
    transition: all .5s ease-in-out;
}

.master-swiper-slide:hover {
    height: auto;
}

.master-swiper-slide:hover img {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
}

.card-name {
    margin-top: 20px ;
    padding: 15px;
    font-size: 28px;
    h3 {
        letter-spacing: 2px;
    }
    span {
        font-size: 16px;
        margin: 5px 10px;
        display: block;
    }
}

.details {
    visibility: hidden;
    font-size: 19px;
    opacity: 0;
    position: relative;
    top: -150px;
    transition: all .5s ease-out;
    padding: 15px 15px 40px;
    letter-spacing: 2px;
    line-height: 22px;
}
    
.master-swiper-slide:hover .details {
    visibility: visible;
    opacity: 1;
    top: 0px;
}

@media (max-width: $pc) {
    .master_cont {
        height: 470px;
    }
    .master-wrapper {
        height: 720px;
    }

    .master-swiper-slide {
        max-width: 260px;
        height: 350px;
    }

    .master-swiper-slide img {
        width: 92%;
    }

    .card-name {
        padding: 15px;
        font-size: 16px;
        letter-spacing: 2px;
        span {
            font-size: 15px;
        }
    }

    .details {
        font-size: 16px;
    }
}

@media (max-width: $notebook) {
    .master-swiper-slide {
        max-width: 335px;
        height: 430px;
    }

    .master-swiper-slide img {
        width: 94%;
    }

    .details {
        font-size: 18px;
    }
}

@media (max-width: $tablet) {
    .master_cont {
        height: 470px;
    }
    .master-wrapper {
        height: 750px;
    }
    .master-swiper-slide {
        max-width: 390px;
        height: 500px;
    }

    .master-swiper-slide img {
        width: 94%;
    }

    .details {
        font-size: 18px;
    }
}

@media (max-width: $mobile) {
    .master-swiper-slide {
        height: 420px;
    }
    .master-swiper-slide img {
        width: 93%;
    }
}