.price {
    padding: 100px 0px 50px 0px;
    background-color: var(--color-spec-3);
    h2 {
        color: var(--color-text-1);
        margin-bottom: 25px;
    }
}


.price_block {
    font-family: 'Exo 2', sans-serif;
    h3 {
        color: var(--color-text-1);
        text-align: center;
        margin-bottom: 15px;
        font-size: 33px;
        text-shadow: 1px 1px 1px rgb(225, 225, 225);
    }
}

.price_item {
    width: 70%;
    margin: 10px auto;
}

.price_top {
    position: relative;
    width: 100%;
    padding: 15px 30px;
    background-color: var(--color-text-1);
    border: none;
    cursor: pointer;
    box-shadow: 0px 5px 6px 0px rgba(34, 60, 80, 0.2);
    transition: all 1s;
    border-radius: 15px;
    font-size: 22px;
    &:after {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 20px;
        content: '\002B';
    }
    &:hover {
        background-color: var(--color-spec-10);
        color: var(--color-text-1);
    }
    &:hover:after {
        content: '\2039';
        transform: rotate(-90deg) translateX(150%);
        top: 50%;
        right: 26px;
    }
}

.price_top.active {
    border-radius: 15px 15px 0px 0px;
    &:after {
        content: '\2212';
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover:after {
        top: 50%;
        right: 20px;
        content: '\2039';
        transform: rotate(90deg) translateX(-150%);
    }
}

.price_bottom {
    max-height: 0px;
    overflow: hidden;
    transition: all .6s ease-in-out;
    .price_bottom_item {
        @include flex (row, space-between, flex-end, nowrap);
        padding: 10px 25px;
        position: relative;
            &:nth-child(2n) {
                background-color: var(--color-spec-7);
            }
            &:nth-child(2n+1) {
                background-color: var(--color-spec-8);
            }
        p {
            &:first-child {
                width: 78%;
            }
            &:last-child {
                text-align: right;
                width: 22%;
            }
        }
    }
}

.price_bottom_item_info {
    width: 100%;
    padding: 10px 15px;
    background-color: var(--color-spec-11);
    color: var(--color-spec-6);
}

.price_bottom.active{
    max-height: 600px;
    overflow: hidden;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 7px 12px 8px 0px rgba(34, 60, 80, 0.2);
}

@media (max-width: $tablet) {
    .price_item {
        width: 100%;
        margin: 20px auto;
    }

    .price_bottom {
        font-size: 14px;
        .price_bottom_item {
            @include flex (row, space-between, flex-end, nowrap);
            padding: 10px 15px;
            position: relative;
            p {
                &:first-child{
                    width: 69%;
                }
                &:last-child{
                    text-align: right;
                    width: 30%;
                }
            }
        }
    }
}
